<!DOCTYPE html>
<html lang="ar">

<head>

    <meta charset="UTF-8">
    <title>إضافة مهمة جديدة</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/all.min.css">

</head>

<body>
    <form class="normal-form">
        <div>
            <label>أدخل المهمة الجديدة</label>
            <input type="text" id="task" autofocus required>
        </div>
        <button type="submit">
            <i class="fas fa-plus"></i>
            إضافة مهمة
        </button>
    </form>
    <script>
        require('../assets/js/normalScript.js');
    </script>
</body>

</html>