<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>إضافة مهمة جديدة</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/all.min.css">

</head>

<body>
    <form class="timed-form">
        <div class="not-text">
            <label>أدخل المهمة الجديدة</label>
            <input class="note" type="text" required autofocus>
        </div>
        <h3>ذكرنى بها بعد</h3>
        <div class="time-pick">
            <div>
                <label>ساعة</label>
                <input type="number" value="0" class="pick-hours" required>
            </div>
            <div>
                <label>دقيقة</label>
                <input type="number" value="0" class="pick-minutes" required>
            </div>
        </div>
        <button type="submit">
            <i class="fas fa-plus"></i>
            إضافة مهمة
        </button>
    </form>

    <script>
        require('../assets/js/timedScript.js');
    </script>
</body>

</html>